// Typography
$poppins: "Poppins", sans-serif;

// Colors
$typeface-color-bold: #0d0c22;
$typeface-color-light: #3d3d4e;
$btn-color-primary: #ea4c89;
$btn-color-secondary: #dbdbde;
$btn-bg-transparent: #fff;

html {
  font-family: $poppins !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: $poppins !important;
}

.navbar-start .navbar-item {
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
  color: $typeface-color-bold !important;
}

.navbar-end .navbar-item {
  font-size: 16px !important;
  line-height: 28px !important;
  font-weight: 400 !important;
  color: #6e6d7a !important;
  .btn {
    display: inline-block !important;
    position: relative !important;
    box-sizing: border-box !important;
    height: 40px !important;
    padding: 10px 16px !important;
    transition: color 200ms ease !important;
    border: none !important;
    border-radius: 8px !important;
    outline: none !important;
    background: $btn-color-primary !important;
    text-align: center !important;
    text-decoration: none !important;
    cursor: pointe !important;
    appearance: none !important;
    font-family: $poppins !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    color: #fff !important;
  }
}

h1.title {
  font-size: 32px !important;
  font-weight: 700 !important;
  line-height: 38px !important;
  color: $typeface-color-bold !important;
}

p.subtitle {
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  color: $typeface-color-light !important;
  margin-top: 16px !important;
}

.btn-primary {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  height: 50px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  color: #fff !important;
  background: $btn-color-primary !important;
  transition: color 200ms ease !important;
  border: none !important;
  border-radius: 8px !important;
  outline: none !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  display: inline-block !important;
}

.btn-secondary {
  display: inline-block !important;
  box-sizing: border-box !important;
  height: 50px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  transition: color 200ms ease !important;
  border: none !important;
  border-radius: 8px !important;
  outline: none !important;
  background: $btn-color-secondary !important;
  color: $typeface-color-bold !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  appearance: none !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

.btn-transparent {
  display: inline-block !important;
  box-sizing: border-box !important;
  height: 50px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  transition: color 200ms ease !important;
  border: none !important;
  border-radius: 8px !important;
  outline: none !important;
  background: transparent !important;
  color: $typeface-color-light !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  appearance: none !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

// Relevant styles
.image-stack {
  display: grid;
  position: relative; // imperative for the overlapping to work
  grid-template-columns: repeat(12, 1fr);
  img {
    display: block;
    border-radius: 20px;
  }
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 20%; // slightly arbitrary, keeps proportion once resized
  z-index: 1; // tells the browser to make this image on top
}

.banner-images-image {
  display: block;
  width: 100%;
  height: 100%;
}

// Bulma Imports

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
